.modal__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: red;
}

.modal {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}


.modal__header {}


.modal__title {}


.modal__close-button {}

.modal__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.modal--open {}

.modal__close-button--disabled {}